# Global IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Subdirectory ignores (to be safe)
frontend/node_modules/
frontend/dist/
frontend/.env*
backend/vendor/
backend/node_modules/
backend/public/storage/
backend/storage/*.key
backend/.env*
.env*
**/.env.example
.env.local
backend/.phpunit.result.cache

# Implementation Plan (Ignored)
implementation_plan.md

# Project Notes (Ignored for privacy)
ISSUES.md
project_technical_explanation.md
Shaghlaty API (v1).yaml
task.md
