# Global IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Subdirectory ignores (to be safe)
frontend/node_modules/
frontend/dist/
frontend/.env*
backend/vendor/
backend/.env*
.env*
**/.env.example
backend/node_modules/
backend/public/storage/
backend/storage/*.key
backend/.env
backend/.env.example
frontend/.env.example
.env.local
backend/.phpunit.result.cache

# Project Notes (Ignored for privacy)
ISSUES.md
